app/build/
build/
.gradle/
brouter-core/build/
brouter-codec/build/
brouter-util/build/
brouter-mapaccess/build/
brouter-expressions/build/
# Google Services config
app/google-services.json
google-services.json
*.map
